[Unit]
Description=Run Main Line Trades Truth Social Filter Every Minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
Unit=mainline-trump-filter.service

[Install]
WantedBy=timers.target
